
#basic{width:370px;}
fieldset div div{display: flex;align-items : center;}
#basic label{ width: 9em;}
h1{width: 100%;font-size:large; text-align:left;background-color:skyblue;color:white;}
.owner,.owner + label,.owner + label+ div {display:none;}
#delay_rate,#delay_rate + label,#delay_rate + label + div{display:none;}
label{order: 1;}
#cancel label{ width:8em;}
#insurance input[type="number"] + label{ width:12em;}
input + label + div{order:3;}
#hidden{display:none;} 
input[type="checkbox"] {display:none;} 
input, textarea, select {order: 2; flex: 1 1 auto;margin:10px 10px 10px 20px;}
input[type="checkbox"] + label {
  font-size:12px;
  font-weight:bold;
  text-align:center;
  color:#6181EC;
  width:100px;
  height:20px; 
  padding-top:10px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  border:2px solid;
  border-color:#aaaaaa #444444 #444444 #aaaaaa;
  background:#cccccc;
  background-color:#1F4D61;
  border-radius:10px;
  margin:10px 10px 10px 20px;
}

input:checked + label {color:#EBD6D6;border-color:#CA8D08 #2B832F #5E07CF #812055;background-color:#49a9d4;}
#post,#message{display: flex;justify-content: center;}
#posting{font-size:18px;color:#EBD6D6; padding:10px 30px 10px 30px; background-color:#49a9d4;border-radius:10px;}
#map_canvas{width:100vw; height:100vw;}
@media screen and (max-width: 999px){
button{font-size:18px;color:#EBD6D6;padding:10px 20px 10px 20px;background-color:#49a9d4;border-radius:10px;} 
}
@media screen and (min-width: 1000px) {
  #main > div{display:flex;}
  .row{display:flex;}
}
